<?php
return [
    'app' => [
        'base_url' => 'http://lightdatasys.com{{ domain_suffix }}/app/#',
        'commissioner' => [
            'email' => '{{ lidsys_commissioner_email }}',
        ],
    ],
];
