<?php
return [
    'auth' => [
        'reset' => [
            'private-key' => '{{ lidsys_auth_private_key }}',
        ],
        'remember-me' => [
            'private-key' => '{{ lidsys_auth_private_key }}',
        ],
    ],
];
