<?php
return [
    'mailer' => [
        'key'                => '{{ lidsys_mailer_key }}',
        'domain'             => '{{ lidsys_mailer_domain }}',
        'recipient_override' => '{{ lidsys_mailer_recipient_override }}',
    ],
];
