---

- name: Install mariadb services
  yum: pkg={{item}} state=present
  with_items:
   - mariadb-server
   - MySQL-python

- name: Enable mariadb
  service: name=mariadb enabled=yes state=started

- name: delete anonymous mariadb user for localhost
  mysql_user: >
    check_implicit_admin=yes
    login_user={{ mariadb_superuser_username }}
    login_password={{ mariadb_superuser_password }}
    user=""
    host="localhost"
    state="absent"

- name: delete anonymous mariadb user for hostname
  mysql_user: >
    check_implicit_admin=yes
    login_user={{ mariadb_superuser_username }}
    login_password={{ mariadb_superuser_password }}
    user=""
    host="{{ ansible_hostname }}"
    state="absent"
