---

- name: Install web services
  yum: pkg={{item}} state=present
  with_items:
   - nginx

- name: Enable nginx
  service: name=nginx enabled=yes state=started

- name: Allow web traffic through the firewall
  firewalld: service={{ item }} permanent=true state=enabled
  with_items:
   - http
   - https
