---

- name: Install web services
  yum: pkg={{item}} state=present
  with_items:
   - nginx
   - php
   - php-fpm
   - php-pdo
   - php-mysqlnd

- name: Enable nginx
  service: name=nginx enabled=yes state=started

- name: Enable php-fpm
  service: name=php-fpm enabled=yes state=started

- name: Set php-fpm settings
  lineinfile: >
    dest=/etc/php-fpm.d/www.conf
    regexp='^{{ item.setting }} = '
    line='{{ item.setting }} = {{ item.value }}'
    state=present
  with_items:
    - { setting: 'user', value: '{{ keeper_username }}' }
    - { setting: 'group', value: '{{ web_username }}' }
  notify: restart php-fpm

- name: Make session dir writable by web server
  file: >
    path=/var/lib/php/session
    state=directory
    owner='{{ keeper_username }}'
    group='{{ web_username }}'

- name: Set PHP timezone
  lineinfile: >
    dest=/etc/php.d/timezone.ini
    line='date.timezone="{{ timezone }}"'
    owner=root
    group=root
    mode=0644
    state=present
    create=yes
  notify: restart php-fpm

- name: Default facts to non-development application environment
  set_fact:
    php_display_errors: "Off"

- name: Set facts based on application_environment
  set_fact:
    php_display_errors: "On"
  when: application_environment == "development"
  changed_when: False

- name: Set PHP error handler settings
  lineinfile: >
    dest=/etc/php.d/error.ini
    regexp='^{{ item.setting }} = '
    line='{{ item.setting }} = {{ item.value }}'
    state=present
    create=yes
  with_items:
    - { setting: 'display_errors', value: '{{ php_display_errors }}' }
  notify: restart php-fpm

- name: Allow web traffic through the firewall
  firewalld: service={{ item }} permanent=true state=enabled
  with_items:
   - http
   - https
  notify: restart firewalld
