---
# This playbook contains common plays that will be run on all nodes.

- name: "Set hostname in /etc/sysconfig/network"
  lineinfile: >
    dest=/etc/sysconfig/network
    regexp=^HOSTNAME=
    line=HOSTNAME={{ inventory_hostname }}{{ hostname_suffix }}

- name: 'Set hostname using `hostname`'
  hostname: name={{ inventory_hostname }}{{ hostname_suffix }}


- name: "Add ipv4 address to hosts file"
  lineinfile: >
    dest=/etc/hosts
    regexp='^{{ hostvars[item].ipv4 }}'
    line='{{ hostvars[item].ipv4 }} {{ item }} {{ item }}{{ hostname_suffix }}'
    state=present
  when: hostvars[item].ipv4 is defined
  with_items: groups['all']

- name: "Add ipv6 address to hosts file"
  lineinfile: >
    dest=/etc/hosts
    regexp='^{{ hostvars[item].ipv6 }}'
    line='{{ hostvars[item].ipv6 }} {{ item }} {{ item }}{{ hostname_suffix }}'
    state=present
  when: hostvars[item].ipv6 is defined
  with_items: groups['all']


- name: "Check current timezone"
  shell: timedatectl | grep 'Timezone:' | awk '{print $2}'
  register: current_timezone
  changed_when: current_timezone.stdout != '{{ timezone }}'

- name: "Set timezone"
  command: timedatectl set-timezone {{ timezone }}
  when: current_timezone.stdout != '{{ timezone }}'


- name: Install EPEL
  shell: rpm -Uvh http://mirror.redsox.cc/pub/epel/7/x86_64/e/epel-release-7-5.noarch.rpm
    creates=/etc/yum.repos.d/epel.repo


- name: Install Remi yum repo
  shell: rpm -Uvh http://rpms.famillecollet.com/enterprise/remi-release-7.rpm
    creates=/etc/yum.repos.d/remi.repo


- name: Upgrade all packages
  yum: name=* state=latest update_cache={{ yum_upgrade_update_cache }}


- name: Install useful utility packages
  yum: pkg={{item}} state=installed update_cache=no
  with_items:
   - vim


- include: git.yml


- name: Add passwordless sudo to wheel group
  lineinfile: "dest=/etc/sudoers state=present regexp='^%wheel' line='%wheel ALL=(ALL) NOPASSWD: ALL'"
