---
# This playbook contains common plays that will be run on all nodes.

- name: "Set hostname in /etc/sysconfig/network"
  lineinfile: >
    dest=/etc/sysconfig/network
    regexp=^HOSTNAME=
    line=HOSTNAME={{ inventory_hostname }}{{ hostname_suffix }}

- name: 'Set hostname using `hostname`'
  hostname: name={{ inventory_hostname }}{{ hostname_suffix }}


- name: "Build hosts file"
  lineinfile: >
    dest=/etc/hosts
    regexp='^{{ hostvars[item].ansible_default_ipv4.address }}'
    line='{{ hostvars[item].ansible_default_ipv4.address }} {{ item }} {{ item }}{{ hostname_suffix }}'
    state=present
  when: hostvars[item].ansible_default_ipv4.address is defined
  with_items: groups['all']


- name: "Check current timezone"
  shell: timedatectl | grep 'Timezone:' | awk '{print $2}'
  register: current_timezone
  changed_when: current_timezone.stdout != '{{ timezone }}'

- name: "Set timezone"
  command: timedatectl set-timezone {{ timezone }}
  when: current_timezone.stdout != '{{ timezone }}'


- name: Upgrade all packages
  yum: name=* state=latest update_cache={{ yum_upgrade_update_cache }}
