---

- name: Default is_debug_mode to "false"
  set_fact:
    is_debug_mode: "false"

- name: Set is_debug_mode based on application_environment
  set_fact:
    is_debug_mode: "true"
  when: application_environment == "development"
  changed_when: False

- name: Install packages required by lidsys-web
  yum: pkg={{item}} state=present
  with_items:
   - npm

- name: Install lidsys-web codebase
  git: repo=git@github.com:lightster/lidsys-web.git
       dest=/var/www/html/lidsys-web/
       accept_hostkey=yes
  sudo: no

- name: Run composer install
  composer: command=install
            working_dir=/var/www/html/lidsys-web

- name: Run npm install
  npm: path=/var/www/html/lidsys-web

- name: Install lightdatasys.com nginx vhost
  template: src=nginx/conf.d/lightdatasys.com.conf.j2 dest=/etc/nginx/conf.d/lightdatasys.com.conf

- name: Make sure lidsys DB user exists
  mysql_user: >
    check_implicit_admin=yes
    login_user={{ mariadb_superuser_username }}
    login_password={{ mariadb_superuser_password }}
    host={{ hostvars[item].ipv4 }}
    name={{ lidsys_mariadb_username }}
    password={{ lidsys_mariadb_password }}
    priv={{ lidsys_mariadb_database }}.*:ALL
    state=present
  when: hostvars[item].ipv4 is defined
  with_items: groups['webservers']

- name: Install lightdatasys.com app 'app' config
  template: >
    src=app/config/autoload/app.local.php.j2
    dest=/var/www/html/lidsys-web/config/autoload/app.local.php

- name: Install lightdatasys.com app 'auth' config
  template: >
    src=app/config/autoload/auth.local.php.j2
    dest=/var/www/html/lidsys-web/config/autoload/auth.local.php

- name: Install lightdatasys.com app 'database' config
  template: >
    src=app/config/autoload/database.local.php.j2
    dest=/var/www/html/lidsys-web/config/autoload/database.local.php

- name: Install lightdatasys.com app 'debug' config
  template: >
    src=app/config/autoload/debug.local.php.j2
    dest=/var/www/html/lidsys-web/config/autoload/debug.local.php

- name: Install lightdatasys.com app 'mailer' config
  template: >
    src=app/config/autoload/mailer.local.php.j2
    dest=/var/www/html/lidsys-web/config/autoload/mailer.local.php
