---

- include_vars: secure.yml

- name: Default is_debug_mode to "false"
  set_fact:
    is_debug_mode: "false"

- name: Set is_debug_mode based on application_environment
  set_fact:
    is_debug_mode: "true"
  when: application_environment == "development"
  changed_when: False

- name: Install packages required by lidsys-web
  yum: pkg={{item}} state=present
  with_items:
   - npm

- name: Install lidsys-web codebase
  git: repo=git@github.com:lightster/lidsys-web.git
       dest=/var/www/html/lidsys-web/
       accept_hostkey=yes
  sudo: no

- name: Run composer install
  composer: command=install
            working_dir=/var/www/html/lidsys-web

- name: Run npm install
  npm: path=/var/www/html/lidsys-web

- name: Install lightdatasys.com nginx configs
  template: src=nginx/conf.d/{{ item }}.j2 dest=/etc/nginx/conf.d/{{ item }}
  with_items:
    - lightdatasys.com.conf
    - cache.lightdatasys.com.conf
  notify: reload nginx

- name: Make sure lidsys@webserver DB user exists
  mysql_user: >
    check_implicit_admin=yes
    login_host={{ lidsys_mariadb_hostname }}
    login_user={{ mariadb_superuser_username }}
    login_password={{ mariadb_superuser_password }}
    host={{ hostvars[item].ipv4 }}
    name={{ lidsys_mariadb_username }}
    password={{ lidsys_mariadb_password }}
    priv={{ lidsys_mariadb_database }}.*:ALL
    state=present
  when: hostvars[item].ipv4 is defined
  with_items: groups['webservers']

- name: Make sure lidsys@localhost DB user exists
  mysql_user: >
    check_implicit_admin=yes
    login_host={{ lidsys_mariadb_hostname }}
    login_user={{ mariadb_superuser_username }}
    login_password={{ mariadb_superuser_password }}
    host={{ item }}
    name={{ lidsys_mariadb_username }}
    password={{ lidsys_mariadb_password }}
    priv={{ lidsys_mariadb_database }}.*:ALL
    state=present
  with_items:
    - localhost
    - 198.74.51.60
    - bond.r34d.me

- name: Install lightdatasys.com configs
  template: >
    src=app/config/autoload/{{ item }}.local.php.j2
    dest=/var/www/html/lidsys-web/config/autoload/{{ item }}.local.php
  with_items:
    - app
    - auth
    - database
    - debug
    - mailer
