---

- name: Install packages required by lidsys-web
  yum: pkg={{item}} state=present
  with_items:
   - npm

- name: Install lidsys-web codebase
  git: repo=git@github.com:lightster/lidsys-web.git
       dest=/var/www/html/lidsys-web/
       accept_hostkey=yes
  sudo: no

- name: Run composer install
  composer: command=install
            working_dir=/var/www/html/lidsys-web

- name: Run npm install
  npm: path=/var/www/html/lidsys-web

- name: Install lightdatasys.com nginx vhost
  template: src=nginx/conf.d/lightdatasys.com.conf.j2 dest=/etc/nginx/conf.d/lightdatasys.com.conf

- name: Make sure lidsys DB user exists
  mysql_user: >
    check_implicit_admin=yes
    login_user={{ mariadb_superuser_username }}
    login_password={{ mariadb_superuser_password }}
    host={{ hostvars[item].ipv4 }}
    name={{ lidsys_mariadb_username }}
    password={{ lidsys_mariadb_password }}
    priv={{ lidsys_mariadb_database }}.*:ALL
    state=present
  when: hostvars[item].ipv4 is defined
  with_items: groups['webservers']
